body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.open-accordion label:before {
    /* content: "<"; "play" icon */
    transform: rotate(180deg);
    display: inline;
    transition: ease 0.5s;
}
.open-accordion label:after {
    font-family: 'Glyphicons Halflings';
    position: absolute;
    color: #b0c5d8;
    font-size: 18px;
    line-height: 22px;
    right: 20px;
    top: calc(50% - 10px);
    content: "<"; /* "play" icon */
    transform: rotate(-90deg);
}
.back {
    width: 30px;
    background: #e9ecef;
    border: 1px;
    height: 30px;
    color: #adb5bd;
    border-radius: 3px;
}
.grey {
    background-color: #ccc!important;
}